{% extends "seo_marketing/base.html" %}
{% block content %}


<div style="margin-top: 125px;">  
        <div class="flex-center flex-column">  
          <h1 class="animated fadeIn mb-4">O Meni <i class="fa fa-heart red-text"></i></h1>
        </div>  
</div> 

<div id="about-me">
        <div class="container">
           <h2 class="display-3 text-center">Moj put do šefa kuhinje</h1>
           <p class="text-center">Moje ime je Stanko. U kuhinji me svi zovu Cane. Svoju karijeru kao kuvara počeo sam još pre 12 godina u restoranu kasina sa nepunih 18 godina.
            Od tada pa do danas promenio sam nekoliko restorana, stekao mnogo iskustva u poslu, koje mogu ljudima da prenesem.
            Marljiv rad, predanost poslu, i kada radite ono š   to volite neizbežno vas vodi na sam vrh, u bilo čemu, a u mom
            konkretnom slučaju do šefa kuhinje. Istraživanje, praksa i čitanje knjiga najboljih svetskih kuvara, doprinose 
            mnogo toga pozivnog u vašu kuhinju. Bitna je istrajnost kao i u svemu. Ne odustati!
           </p>
           <hr class="mb-5 mt-5">
           <h1 class="display-3 text-center">Odnos u kuhinji</h1>
           <p class="text-center">Da bi vladala harmonija u kuhinji i bilo sve u najboljem redu, odnos sa kolegama je od veoma važnog
               značaja. Kao šef kuhinje vi tu nastupate. Odlični odnosi sa ostalim kuvarima ili pomoćnicima kuvara 
               dovode do toga da se hrana brže izbacuje, kvalitetnije je spremljena a kuhinja posle predaje smene 
               čista kao da se u njoj ništa nije ni spremalo.
           </p>     
        </div>
    </div>

{% endblock content %}