{% extends "seo_marketing/base.html" %}
{% block content %}
<div class="container-fluid wrapper">
  <div class="w-75 container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-6">
      <h2 class="title">SERVING MOVING COMPANIES WITH MODERN SOLUTIONS IN THE ONLINE ENVIRONMENT</h2>
      <div class="row">
        <div class="col">
            <div class="card" style="width:350px">
                <img class="card-img-top" src="" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title text-center">Search Engine Optimization</h5>
                  <h5 class="card-text text-center">(SEO)</h5>
                </div>
                <a href="#" class="btn btn-dark btn-lg btn-block">LEARN MORE</a>
              </div> 
        </div>

        <div class="col">
            <div class="card" style="width:350px">
                <img class="card-img-top" src="" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title text-center">Search Engine Optimization</h5>
                  <h5 class="card-text text-center">(SEO)</h5>
                </div>
                <a href="#" class="btn btn-dark btn-lg btn-block">LEARN MORE</a>
              </div> 
        </div>

        <div class="col">
            <div class="card" style="width:350px">
                <img class="card-img-top" src="" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title text-center">Search Engine Optimization</h5>
                  <h5 class="card-text text-center">(SEO)</h5>
                </div>
                <a href="#" class="btn btn-dark  btn-lg btn-block">LEARN MORE</a>
              </div> 
        </div>
        <div class="col">
            <div class="card" style="width:350px">
                <img class="card-img-top" src="" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title text-center">Search Engine Optimization</h5>
                  <h5 class="card-text text-center">(SEO)</h5>
                </div>
                <a href="#" class="btn btn-dark  btn-lg btn-block">LEARN MORE</a>
              </div> 
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-6">
      <form class="form">
        <div class=" text-center">
          <h2 class="form-headline">Free Digital Marketing</h2>
        </div>
        <div class="row form-inside">
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="Name" placeholder="Enter your name">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    
                </div>

                <div class="form-group">
                    <label for="phone">Your Website (URL)</label>
                    <input type="url" class="form-control" id="phone" placeholder="https://example.com" name="url">
                </div>

                <div class="form-group">
                    <label for="phone">Phone number</label>
                    <input type="tel" class="form-control" id="phone" placeholder="Enter phone number">
                </div>

            </div>
              </form>
            <div class="col-xl-1 vl"></div>
            <div class="col-xl-4 div-p">
                <p>&#10004;Your current Google rankings and market position</p>
                <p>&#10004;Insight into the technical performance and potential of your website</p>
                <p>&#10004;Your online footprint, including backlinks and company mentions</p>
                <p>&#10004;Review of your content quality and level of optimization</p>
                <small>*Done specifically for the moving industry</small>
            </div>

        <div class="text-center container">
             <button type="submit" class="btn btn-block button1"><h2 class="display-2 get-now">GET NOW</h2></button>
         </div>

    </div>
    
    </div>
  </div>
</div>
</div>

<!-- start of first section -->

<section class="container-fluid w-100 first_section">
  <hr class="line-split">
  <div class="container-fluid w-50">
      <h1 class="text-center mt-5 mb-5">We offer Moving Companies the chance to grow
      their business by enhancing their Online Presence.</h1>
  </div>

  <div class="container-fluid w-75 div_inside">
    <div class="row">
        
        <div class="col">
            <div class="" style="width:350px">
                <img class="card-img-top image_section" src="https://icons-for-free.com/free-icons/png/160/63435.png" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title text-center display-4">POTENTIAL CUSTOMERS LOOK FOR MOVING SERVICES ONLINE</h5>
                  <p class="card-text" style="text-align:center;">Keyword Analysis will show what people in your area type when looking for moving services on search engines.</p>
                </div>
              </div> 
        </div>

        <div class="col">
            <div class="" style="width:350px">
                <img class="card-img-top image_section" src="https://icons-for-free.com/free-icons/png/160/63435.png" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title text-center display-4">POTENTIAL CUSTOMERS LOOK FOR MOVING SERVICES ONLINE</h5>
                  <p class="card-text" style="text-align:center;">Keyword Analysis will show what people in your area type when looking for moving services on search engines.</p>
                  
                </div>
              </div> 
        </div>

        <div class="col">
            <div class="" style="width:350px">
                <img class="card-img-top image_section" src="https://icons-for-free.com/free-icons/png/160/63435.png" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title text-center display-4">POTENTIAL CUSTOMERS LOOK FOR MOVING SERVICES ONLINE</h5>
                  <p class="card-text" style="text-align:center;">Keyword Analysis will show what people in your area type when looking for moving services on search engines.</p>
                
                </div>
              </div> 
        </div>

        <div class="col">
            <div class="" style="width:350px">
                <img class="card-img-top image_section" src="https://icons-for-free.com/free-icons/png/160/63435.png" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title text-center display-4">POTENTIAL CUSTOMERS LOOK FOR MOVING SERVICES ONLINE</h5>
                  <p class="card-text" style="text-align:center;">Keyword Analysis will show what people in your area type when looking for moving services on search engines.</p>
               
                </div>
              </div> 
        </div>
        <div class="div container-fluid w-75 text-center mt-4">
              <a href="#" class="btn button-section btn-lg mt-4">Learn More</a>
        </div>
    </div>
  </div>
</section>

<!-- end of first section -->

<section class="container-fluid w-100 second_section">
    <hr class="line-split">
    <div class="container-fluid w-25">
        <h1 class="text-center mt-5 mb-5">Cost Efficiency of Digital
            Marketing for Movers</h1>
        <h5 class="text text-center">Average profit from a moving job $300</h5>  
    </div>
    <div class="container-fluid w-75">
        <p class="text-info text-center lead">PAY PER CLICK ADVERTISING (SHORT TERM)</p>
    </div>
    <div class="container-fluid w-75">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
              <div class="">
                  <div class="card-body">
                      <h5 class="card-title text-center">Average cost of a relevant click/visit</h5>
                      <p class="text-center percent"><b>10%</b></p>
                  </div>
             </div>  
          </div>
          <div class="col">+</div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
              <div class="">
                  <div class="card-body">
                      <h5 class="card-title text-center">Average Conversion Rate</h5>
                      <p class="text-center percent"><b>25%</b></p>
                  </div>
                </div>  
          </div>
        <div class="col">+</div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
              <div class="">
                  <div class="card-body">
                      <h5 class="card-title text-center">Average Customer Acquisition Rate</h5>
                      <p class="text-center percent"><b>40%</b></p>
                  </div>
                </div>  
          </div>
          <div class="col">=</div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
              <div class="">
                  <div class="card-body">
                      <h5 class="card-title text-center">Average Cost of a new Customer</h5>
                      <p class="text-center percent"><b>$100</b></p>
                  </div>
                </div>  
          </div>
          <div class="col">=></div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
              <div class="">
                  <div class="card-body">
                      <h5 class="card-title text-center">Average Return on Investment</h5>
                      <p class="text-center percent"><b>+200%</b></p>
                  </div>
                </div>  
          </div>
                       
      </div>
        <div class="div container-fluid w-75 text-center mb-5">
        <p class="text  mt-4" style="font-size: 18px;">Pay Per Clicks offers an instant revenue but without a possibility for an exponential growth or a permanently added value. Combination of SEO and PPC forms a comprehensive online strategy that benefits your company both in the short and the long run.</p>
        <a href="#" class="btn button-section btn-lg mt-4">Learn More</a>
        </div>
      </div>
</section>
<!--  inner section  -->
<section class="container-fluid w-100 second_section">
  
    <div class="container-fluid w-75">
        <p class="text-info text-center lead">SEARCH ENGINE OPTIMIZATION (LONG TERM)</p>
    </div>
    <div class="container-fluid w-75">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
              <div class="">
                  <div class="card-body">
                      <h5 class="card-title text-center">Average number of relevant visits a month</h5>
                      <p class="text-center percent"><b>600%</b></p>
                  </div>
                </div>  
          </div>
          <div class="col">+</div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
              <div class="">
                  <div class="card-body">
                      <h5 class="card-title text-center">Average
                            Conversion
                            Rate</h5>
                      <p class="text-center percent"><b>10%</b></p>
                  </div>
                </div>  
          </div>
        <div class="col">+</div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
              <div class="">
                  <div class="card-body">
                      <h5 class="card-title text-center">Average Customer
                            Acquisition
                            Rate</h5>
                      <p class="text-center percent"><b>40%</b></p>
                  </div>
                </div>  
          </div>
          <div class="col">=</div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
              <div class="">
                  <div class="card-body">
                      <h5 class="card-title text-center">Average number
                            of new customers/month</h5>
                      <p class="text-center percent"><b>24</b></p>
                  </div>
                </div>  
          </div>
          <div class="col">=</div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
              <div class="">
                  <div class="card-body">
                      <h5 class="card-title text-center">Average 
                            Return on
                            Investment</h5>
                      <p class="text-center percent"><b>+300%</b></p>
                  </div>
                </div>  
          </div>
                       
      </div>
        <div class="div container-fluid w-75 text-center mb-5">
        <p class="text  mt-4" style="font-size: 18px;">Search Engine Optimization requires a several months to initiate growth, while offering endless possibilities in the long run. The success stories of our clients show that SEO can generate thousands of monthly visits to the website and contribute to the majority of company’s income.</p>
        <a href="#" class="btn button-section btn-lg mt-4">Learn More</a>
        </div>
      </div>
</section>

<div class="col text-center">+</div>

<div class="container-fluid w-25">
    <p class="text-info text-center lead">BONUSES</p>
    <p class="text-center" style="font-size: 20px; margin-top:-20px; font-weight: 500;">Referrals, Returning Customers, Brand Awareness,
        Online Reviews, Organic Promotions</p>
</div>

<!-- Testemonials slider -->

<!-- Section: Testimonials v.1 -->
<section class="text-center my-5 p-1">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Our Testimonials</h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
      eum porro a pariatur veniam.</p>
  
    <!-- Grid row -->
    <div class="container-fluid w-50">
        <div class="row row-eq-height">
    
     
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
          <div class="column-widget">  
                <div class="card testimonial-card">
                <div class="card-up info-color"></div>
                <div class="avatar mx-auto white">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle img-fluid mt-4">
                </div>
                <hr>
                <div class="card-body">
                    <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>These guys managed to position our website on the leading positions on Google for the strongest New York search terms. We are now getting a massive amount of leads through the calculator and SEO became a cornerstone of our business growth. Dumbo now serves thousands of customers each month and we owe a big thanks to Movers Dev!</p>
                </div>
                <hr>
                <h4 class="font-weight-bold text-primary">-John Doe</h4>
                <p>New York, USA</p>
                <div class="text-center">
                    <img src="../media/quote.png" class="rounded pb-3"  style="width:35px;" alt="">
                </div>
                </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="column-widget">
                <div class="card testimonial-card">
                <div class="card-up info-color"></div>
                <div class="avatar mx-auto white">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(11).jpg" class="rounded-circle img-fluid mt-4">
                </div>
                <hr>
                <div class="card-body">
                    <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>After only a month of cooperation with Movers Development, the before and after situation is much different. They delivered on everything we agreed on in record time. We feel our moving company has really grown online since we got into business with them.</p>
                </div>
                <hr>
                <h4 class="font-weight-bold text-primary">-Aaron Morris</h4>
                <p>New York, USA</p>
                <div class="text-center">
                    <img src="../media/quote.png" class="rounded pb-3"  style="width:35px;" alt="">
                </div>
                </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <div class="card testimonial-card">
            <div class="card-up info-color"></div>
            <div class="avatar mx-auto white">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(16).jpg" class="rounded-circle img-fluid mt-4">
            </div>
            <hr>
            <div class="card-body">
                <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Thanks to the hard work of this team, we managed to make significant changes to the way we run business. They know everything about the industry, and the new website with the calculator made a huge difference for us. We are now getting more and more leads from SEO and look forward to a long partnership. Kudos to them!</p>
            </div>
            <hr>
            <h4 class="font-weight-bold text-primary">-John Doe</h4>
            <p>New York, USA</p>
            <div class="text-center">
                <img src="../media/quote.png" class="rounded pb-3"  style="width:35px;" alt="">
            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <div class="card testimonial-card">
            <div class="card-up info-color"></div>
            <div class="avatar mx-auto white">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(5).jpg" class="rounded-circle img-fluid mt-4">
            </div>
            <hr>
            <div class="card-body">
                <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>It was a great pleasure working with Movers Development. My brother and I own and operate a moving company and we were in the market for a company to take us to the next level with our online presence and SEO. Daniel and Nenad were extremely helpful and accommodating in any input we had to creating our site. It’s nice to have professionals who are familiar with the moving industry to guide your success. I look forward to working the Movers Development in the future and I urge any business owner to use their services!</p>
            </div>
            <hr><hr>
            <h4 class="font-weight-bold text-primary">-John Doe</h4>
            <p>New York, USA</p>
            <div class="text-center">
                <img src="../media/quote.png" class="rounded pb-3"  style="width:35px;" alt="">
            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <div class="card testimonial-card">
            <div class="card-up info-color"></div>
            <div class="avatar mx-auto white">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg" class="rounded-circle img-fluid mt-4">
            </div>
            <hr>
            <div class="card-body">
                <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>In the marketing world, it is very hard to find HONEST and EFFICIENT help. In the marketing world of the Moving Industry, its damn near impossible. I can honestly say these guys are the best that there is out there. They are honest, they do their best to meet deadlines, and they are in constant contact. I hired them for SEO services about 10 months ago, and have seen great results so far. Looking forward to what the future brings. The whole team is great, and the lead developer Nikola is awesome to work with.</p>
            </div>
            <hr><hr>
            <h4 class="font-weight-bold text-primary">-John Doe</h4>
            <p>New York, USA</p>
            <div class="text-center">
                <img src="../media/quote.png" class="rounded pb-3"  style="width:35px;" alt="">
            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <div class="card testimonial-card">
            <div class="card-up info-color"></div>
            <div class="avatar mx-auto white">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(19).jpg" class="rounded-circle img-fluid mt-4">
            </div>
            <hr>
            <div class="card-body">
                <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>My name is Adriana, I’m the owner of Number 1 Movers Hamilton and I have to say that after 2 years of wasting money and looking for reliable, honest and professional company I’m so happy that we can work with Movers Development!
                    These guys work so hard, the whole team. It’s been 8 months since we hired them. Every month it’s a success.
                    Keep up a good work guys and we will stick with you for a looong time.</p>
            </div>
            <hr><hr>
            <h4 class="font-weight-bold text-primary">-Adriana Romanowski</h4>
            <p>Ontario, Canada</p>
            <div class="text-center">
                <img src="../media/quote.png" class="rounded pb-3"  style="width:35px;" alt="">
            </div>
            </div>
        </div>
        </div>
        <a href="#" class="btn button-section btn-lg mt-5" style="font-size: 19px;">Read More Reviews</a>
    </div>
  
  
  </section>
  <!-- Section: Testimonials  -->

  <!-- Video caluclator -->

<section class="container-fluid w-100 first_section">
    <hr class="line-split">
        <div class="container-fluid col-xs-6 w-75">
            <h1 class="text-center mt-5 mb-5">Instant Moving Quote Calculator</h1>
            <p class="text-center" style="font-size: 18px;">For the first time in the industry, customers will have the privilege of having accurate Moving Estimates in a matter of few clicks. Designed to fit your website perfectly and match the pricing system of your company.</p>
        </div>
        <div class="container-fluid w-50">
                <div class="embed-responsive embed-responsive-16by9 mt-5 mb-5">
                    <iframe class="embed-responsive-item"  frameborder="0" src="https://www.youtube.com/embed/bUh2rZAEzd0" allowfullscreen></iframe>
                </div>
        </div>
</section>

<section class="container-fluid w-75 first_section">
        <hr class="line-split">
            <div class="container-fluid col-xs-6 w-75">
                <h1 class="text-center mt-5 mb-5">Recent Posts</h1>
            </div>
</section>



{% endblock content %}
