{% extends "seo_marketing/base.html" %}
{% block content %}

<div class="container text-center" style="margin-top: 50px;">
    <h1 class="p-5" style="font-family: AURORA; font-size: 80px;">KETERING</h1>
</div>
<div class="container-fluid">
   <img src="../../../media/ketering/ketering1.jpg" alt="ketering picture" style="width:100%;">
</div>

<div class="container">
    <h2 class="text-center mt-5">Priprema keteringa</h2>
    <h3 class="text-center">Narucite dan ili dva ranije!</h3>
</div>
{% endblock content %}
